<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Editing Album</h3>
    <%= link_to 'Back', albums_path, {:class => 'pull-right'} %>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<!-- <%= link_to 'Show', @album %> | -->
